* {
  font-family: 'Inter', sans-serif;
}

#profile__img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
}

#twitter {
  font-size: 20px;
  font-weight: 700;
}

.share__icons {
  height: 0;
}

.desk-icon {
  position: relative;
  top: 10px;
  left: 80%;
}

.btn__link {
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #000;
  background-color: #EAECF0;
  font-size: 18px;
  padding: 24px 32px;
  border-radius: 8px;
}

form {
  width: 75%;
  margin: auto;
}

.header > h1 {
  font-size: 36px;
  font-weight: 600;
}

.header > p {
  font-size: 20px;
}

label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

textarea {
  resize: none !important;
  height: 132px

}

.checkbox {
  font-size: 16px;
}

footer > div > img, footer > div > p  {
  width: fit-content;
  padding: 12px 0;
}

.error {
  color: rgb(211, 28, 28);
  display: block;
  padding-top: 5px;
}

@media (max-width: 768px) {
  .btn__link, footer > div > p  {
    font-size: 14px;
  }

  form {
    width: 100%;
  }

  .header > p {
    font-size: 18px;
  }

  footer > div {
    flex-direction: column;
  }
}